<form method="POST" enctype="multipart/form-data">
    <div>
        <div>
            <label for="inputTitle">Название</label>
            <input id="inputTitle" type="text" value="<%= book.title %>" name="title">
        </div>
        <div>
            <label for="inputDescription">Описание</label>
            <textarea id="inputDescription" name="description"><%= book.description %></textarea>
        </div>
        <div>
            <label for="inputAuthors">Авторы</label>
            <input id="inputAuthors" type="text" value="<%= book.authors %>" name="authors">
        </div>
        <div>
            <label for="inputFavorite">Избранное</label>
            <input id="inputFavorite" type="checkbox" checked="<%= book.favorite %>" name="favorite">
        </div>
<!--        Не уверен что за поле-->
<!--        <div>-->
<!--            <label for="inputFileCover">Обложка</label>-->
<!--            <input id="inputFileCover" type="text" value="<%= book.fileCover %>" name="fileCover">-->
<!--        </div>-->
        <div>
            <label for="inputFileBook">Книга</label>
            <input id="inputFileBook" type="file" value="<%= book.fileBook %>" name="book-file">
        </div>
        <div>
            <label for="inputFileName">Название файла</label>
            <input id="inputFileName" type="text" value="<%= book.fileName %>" name="fileName">
        </div>
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>