<form method="POST" enctype="multipart/form-data" class="wrap">
    <div>
        <div class="input">
            <label for="inputTitle">Title</label>
            <input id="inputTitle" type="text" value="<%= book.title %>" name="title" required>
        </div>
        <div class="input">
            <label for="inputDescription">Description</label>
            <textarea id="inputDescription" name="description"><%= book.description %></textarea>
        </div>
        <div class="input">
            <label for="inputAuthors">Authors</label>
            <input id="inputAuthors" type="text" value="<%= book.authors %>" name="authors">
        </div>
        <div class="input">
            <label for="inputFavorite">Favorite</label>
            <input id="inputFavorite" type="checkbox" checked="<%= book.favorite %>" value="<%= book.favorite %>" name="favorite">
        </div>
        <div class="input">
            <label for="inputFileBook">Book file</label>
            <input id="inputFileBook" type="file" name="book-file">
        </div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>